<hr>
<div class="row">

  <h6>Filter by Category:</h6>
  <form method="GET" action="/">
    <a>
      <label>
        <input name="category" type="checkbox" value="1" />
        <span>Portraits</span>
      </label>
      <label>
        <input name="category" type="checkbox" value="2" />
        <span>Lanscape</span>
      </label>
      <label>
        <input name="category" type="checkbox" value="3" />
        <span>Still Life</span>
      </label>
      <label>
        <input name="category" type="checkbox" value="4" />
        <span>People</span>
      </label>
      <label>
        <input name="category" type="checkbox" value="5" />
        <span>Animals</span>
      </label>
      <label>
        <input name="category" type="checkbox" value="7" />
        <span>Abstract</span>
      </label>
      <label>
        <input name="category" type="checkbox" value="8" />
        <span>Paintings</span>
      </label>
      <label>
        <input name="category" type="checkbox" value="9" />
        <span>Sculptures</span>
      </label>

      <div class="row">
        <button class="waves-effect waves-light btn" type="submit">
          Filter Category
        </button>
      </div>

    </a>
  </form>






</div>
