<nav>
  <div class="nav-wrapper">
    <!-- <a href="/"><img class="brand-logo" src="/img/logo.png"></a> -->
    <a href="/"><img class="brand-logo">Artsy</a>
    <ul id="nav-mobile" class="right">
      <% if (typeof artist_id == 'undefined' || !artist_id) { %>
        <li><a class="waves-effect waves-light btn" href="/auth/register">Register</a></li>
        <li><a class="waves-effect waves-light btn" href="/auth/login">Login</a></li>
      <% } else {%>
        <li><form method="POST" action="/auth/logout">
          <button class="waves-effect waves-light btn" type="submit">Logout</button>
        </form></li>
        <li><a class="waves-effect waves-light btn" href="/add-item">Sell your item</a></li>
        <li><a class="waves-effect waves-light btn" href="/profile">Profile</a></li>
      <% } %>
    </ul>
  </div>
</nav>
