<!DOCTYPE html>
<html lang="en">

<head>
  <title> Add your Art for Sale</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" /> -->
  <!-- <link rel="stylesheet" href="/vendor/border-box.css" /> -->
  <!-- <link rel="stylesheet" href="/styles/layout.css" /> -->
  <!-- <script defer src="/scripts/app.js"></script> -->

  <!-- was using, now in head
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://kit.fontawesome.com/ba60cfc2d9.js" crossorigin="anonymous"></script>
  <script src="/vendor/jquery-3.0.0.js"></script> -->

  <%- include('partials/_head.ejs'); %>
</head>
<body >
  <header>
    <%- include('partials/_header.ejs'); %>
  </header>

  <div class="container row">
    <form method="post" action="/add-item" class="col">
      <h3>Add your Artwork for Sale</h3>
      <div class="row">
        <div class="input-field">
          <input name="name" id="name" type="text" class="validate">
          <label for="name">Artwork Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input name="description" id="description" type="text" data-length="255" class="validate">
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input name="price" id="price" type="number" class="validate">
          <label for="price">Price($$.00)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input name="link_to_pic" id="link_to_pic" type="text" class="validate">
          <label for="link_to_pic">Please provide a link to a picture of the work.</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <p>
            <table>
              <thead>Category (choose as many as apply)</thead>
              <tbody>
                <tr>
                  <td>
                    <label>
                      <input name=1 type="checkbox" />
                      <span>Portraits</span>
                    </label>
                  </td>
                  <td>
                    <label>
                      <input name=2 type="checkbox" />
                      <span>Landscape</span>
                    </label>
                  </td>
                  <td>
                    <label>
                      <input name=3 type="checkbox" />
                      <span>Still Life</span>
                    </label>
                  </td>
                  <td>
                    <label>
                      <input name=4 type="checkbox" />
                      <span>People (or Slice of Life)</span>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>
                      <input name=5 type="checkbox" />
                      <span>Animals</span>
                    </label>
                  </td>
                  <td>
                    <label>
                      <input name=7 type="checkbox" />
                      <span>Abstract</span>
                    </label>
                  </td>
                  <td>
                    <label>
                      <input name=8 type="checkbox" />
                      <span>Paintings</span>
                    </label>
                  </td>
                  <td>
                    <label>
                      <input name=9 type="checkbox" />
                      <span>Sculpture</span>
                    </label>
                  </td>
                </tr>

              </tbody>
            </table>

          </p>
        </div>
      </div>
      <div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="fa-regular fa-paper-plane"></i>
        </button>
      </div>
    </form>
  </div>
