<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/_head.ejs'); %>
  <script src="/public/scripts/filter.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>

</head>

<header>
  <%- include('partials/_header.ejs'); %>
</header>

<body>

<div class="filter show-on-large hide-on-med-and-down">
  HORIZONTAL ROW OF CIRCLE CATEGORIES GOES HERE
  <div class="container">
    <img src="http://placekitten.com/g/60/60" alt="landscape">
    <div class="centered">Landscapes</div>
  </div>
</div>

<div class="filter show-on-medium-and-down hide-on-large-only">
  HAMBURGER MENU OF CATEGORIES GOES HERE
</div>

<div class="container">
<form method="GET" action="/">
  <div class="row">
    <div class="input-field col s6">
      <input name="min" id="min" type="number" class="validate">
      <label for="Min">$ Min</label>
    </div>
    <div class="input-field col s6">
      <input name="max" id="max" type="number" class="validate">
      <label for="max">$ Max</label>
    </div>
    <button type="submit" id="filterByPriceButton">Filter Data</button>
  </div>
</form>
</div>

<!-- <div class="items_container">
  Availiable Pieces:
  <div class=item>
    <a href="/"><img src="**reference to image goes here**"></img></a>.
    <div class=buttons_list></div>
    <i class="fa-regular fa-heart" style="color: #8d99ae;"></i>
    <a href="/message"><i class="fa-regular fa-message" style="color: #8d99ae;"></i></a>
    <div></div>
  </div>
</div> -->


<div class="container allTheCards">
  <div class="row"></div>
  <% for (item of allArtData) { if (!item.is_deleted) { %>

    <div class="col 14 m4 s12">
      <%- include('partials/_card.ejs', {item}); %>

    </div>
  <% }} %>
  </div>
</div>

</body>

</html>


</html>
