<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" /> -->

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <%- include('partials/_head.ejs'); %>
</head>

<header>
  <%- include('partials/_header.ejs'); %>
</header>

<body>

  <!-- need to give this its own space -->
  <div class="container">
    <div class="row"></div>
    <div class="row">
      <hr>
    </div>

    <button class="filterbtn waves-effect waves-light btn" onclick="hideFunction()">Filters</button>

    <div id="filters" style="display:none">

      <!-- last mintute addition, shouldnt really go here -->
      <script>
        function hideFunction(){
        var show = document.getElementById("filters")
        var hide = document.getElementById("filterbtn")
        show.style.display="block"
        hide.style.display="none"
        }
        </script>

      <div class="row">
        <h6>Filter By Price:</h6>
        <form method="GET" action="/">
          <div class="input-field col s6">
            <input name="min" id="min" type="number" class="validate">
            <label for="Min">$ Min</label>
          </div>
          <div class="input-field col s6">
            <input name="max" id="max" type="number" class="validate">
            <label for="max">$ Max</label>
          </div>
          <button class="waves-effect waves-light btn" type="submit" id="filterByPriceButton">Filter Price</button>
        </form>

      </div>

      <%- include('partials/_checkboxes_categories.ejs') %>
    </div>

    <div class="row">
      <% for (item of allArtData) { if (!item.is_deleted) { %>

        <!-- each card is shown on a gird which changes with screen size -->
        <div class="col s12 m6 l4">
          <%- include('partials/_card_for_index.ejs', {item}); %>

        </div>
        <% }} %>
    </div>


</body>

</html>


</html>
