<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" /> -->

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <%- include('partials/_head.ejs'); %>
</head>

<header>
  <%- include('partials/_header.ejs'); %>
</header>

<body>

  <!-- not going to have time to implement this being different-->
  <!-- <div class="filter show-on-large hide-on-med-and-down">
    HORIZONTAL ROW OF CIRCLE CATEGORIES GOES HERE
    <div class="container"> -->

  <!-- need to figure out how to make these buttons flat and in their own collumns -->
  <!-- <div class="container"> -->
  <div class="container">
    <div class="row">

    <div class="col s1">
      <form method="GET" action="/">
        <a>
          <input name="category" type="hidden" value="1">
          <button class="centered btn-flat" type="submit">
            <img src="https://cdn-icons-png.flaticon.com/512/656/656455.png" class="circle responsive-img"
              alt="portrait">
            Portraits
          </button>
        </a>
      </form>
    </div>

    <div class="col s1">
      <form method="GET" action="/">
        <a>
          <input name="category" type="hidden" value="2">
          <button class="centered btn-flat" type="submit">
            <img src="https://static.thenounproject.com/png/16251-200.png" class="circle responsive-img"
              alt="landscape">
            Landscape
          </button>
        </a>
      </form>
    </div>

    <div class="col s1">
      <form method="GET" action="/">
        <input name="category" type="hidden" value="3">
        <button class="btn-flat" type="submit">
          <img src="http://placekitten.com/60/60" class="circle responsive-img" alt="still life">
          <div class="centered">Still Life</div>
        </button>
      </form>
    </div>

    <div class="col s1">
      <form method="GET" action="/">
        <input name="category" type="hidden" value="4">
        <button type="submit">
          <img src="http://placekitten.com/60/60" class="circle responsive-img" alt="people">
          <div class="centered">People</div>
        </button>
      </form>
    </div>

    <div class="col s1">
      <form method="GET" action="/">
        <input name="category" type="hidden" value="5">
        <button type="submit">
          <img src="http://placekitten.com/60/60" class="circle responsive-img" alt="animals">
          <div class="centered">Animals</div>
        </button>
      </form>
    </div>

    <div class="col s1">
      <form method="GET" action="/">
        <input name="category" type="hidden" value="7">
        <button type="submit">
          <img src="http://placekitten.com/60/60" class="circle responsive-img" alt="Abstract">
          <div class="centered">Abstract</div>
        </button>
      </form>
    </div>

    <div class="col s1">
      <form method="GET" action="/">
        <input name="category" type="hidden" value="8">
        <button type="submit">
          <img src="http://placekitten.com/60/60" class="circle responsive-img" alt="Paintings">
          <div class="centered">Paintings</div>
        </button>
      </form>
    </div>

    <div class="col s1">
      <form method="GET" action="/">
        <input name="category" type="hidden" value="9">
        <button type="submit">
          <img src="http://placekitten.com/60/60" class="circle responsive-img" alt="sculpture">
          <div class="centered">Sculpture</div>
        </button>
      </form>
    </div>

  </div>
  </div>


  <!-- </div> -->


  <!-- not going to have time to implement this -->
  <!-- <div class="filter show-on-medium-and-down hide-on-large-only">
    HAMBURGER MENU OF CATEGORIES GOES HERE
  </div> -->


  <!-- need to give this its own space -->
  <div class="container">
    <div class="row">
      Filter By Price:
      <form method="GET" action="/">
        <div class="input-field col s6">
          <input name="min" id="min" type="number" class="validate">
          <label for="Min">$ Min</label>
        </div>
        <div class="input-field col s6">
          <input name="max" id="max" type="number" class="validate">
          <label for="max">$ Max</label>
        </div>
        <button class="waves-effect waves-light btn" type="submit" id="filterByPriceButton">Filter Data</button>
      </form>
    </div>



    <div class="row">
      <% for (item of allArtData) { if (!item.is_deleted) { %>

        <!-- each card is shown on a gird which changes with screen size -->
        <div class="col s12 m6 l4">
          <%- include('partials/_card_for_index.ejs', {item}); %>

        </div>
        <% }} %>
    </div>


</body>

</html>


</html>
