<!DOCTYPE html>
<html lang="en">
<head>
  <title>Item Page</title>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <!-- <%- include('partials/_head.ejs'); %> -->
</head>

<body>
  <%- include('partials/_header') %>
  <%- include('partials/_card.ejs', {item}); %>

  <form method="post" action="/profile">
  <button type="submit">Like</button>
  </form>

  <button>Contact seller</button>
</body>

</html>
