<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <%- include('partials/_head.ejs'); %>
</head>

<header>
  <%- include('partials/_header') %>
</header>

<body>
  <h1>Login</h1>
  <form method="POST" action="/auth/login">
    <label for="email">Email</label><br>
    <input type="email" name="email" placeholder="email"><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" placeholder="password"><br>
    <button type="submit">login</button>
</body>
</html>
